<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>VivagraphJS Boilerplate</title>
        <script src="javascripts/vivagraph.js"></script>
        <script src="javascripts/demo.js"></script>

        <style type='text/css'>
            #graphConainer {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            #graphConainer > svg {
                width: 100%;
                height: 100%;
            }
 </style>
</head>
<body onload="onLoad()">
    <div id='graphConainer'></div>
</body>
</html>
